# Dependencies
node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist
dist-ssr

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase
.firebase
firebase-debug.log
.firebaserc


node_modules
coverage

*Zone.Identifier*

PROTOTYPING



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/

# Secrets
.env
.secrets

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/